{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% for user in users %}
    <div><h3>Привет я-{{ user.username }}!</h3></div>
    <div>
        <div><p>{{ user.UserMainInfo.Status }}!</p></div>

    </div>
    <div>
        <h4>Я состою в группах: </h4>
        {% for group in user.groups %}
            <div><p>{{ group.GroupName }}!</p></div>
        {% endfor %}
    </div>
    <div>
        <h4>Мое самое любимое: </h4>
        {% for likes in user.Likes %}
            <div><p>{{ likes.TypeName }}:{{ likes.Name }}</p></div>
        {% endfor %}
    </div>
    <br>
{% endfor %}
{% endblock %}
