{% extends 'base.html.twig' %}

{% block title %}UserInfo{% endblock %}

{% block body %}
    <h1>UserInfo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_info.id }}</td>
            </tr>
            <tr>
                <th>RegistredAt</th>
                <td>{{ user_info.registredAt ? user_info.registredAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>BornAt</th>
                <td>{{ user_info.bornAt ? user_info.bornAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ user_info.Status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_info_index') }}">back to list</a>

    <a href="{{ path('app_user_info_edit', {'id': user_info.id}) }}">edit</a>

    {{ include('user_info/_delete_form.html.twig') }}
{% endblock %}
