{% extends 'base.html.twig' %}

{% block title %}UserLikes index{% endblock %}

{% block body %}
    <h1>UserLikes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TypeName</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_like in user_likes %}
            <tr>
                <td>{{ user_like.id }}</td>
                <td>{{ user_like.TypeName }}</td>
                <td>{{ user_like.Name }}</td>
                <td>
                    <a href="{{ path('app_user_likes_show', {'id': user_like.id}) }}">show</a>
                    <a href="{{ path('app_user_likes_edit', {'id': user_like.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_likes_new') }}">Create new</a>
{% endblock %}
